{body {background-color: lightgreen;text-align: center;font-family: Arial, sans-serif;}
{h1 {color: skyblue;}
{p1 {font-size: 16px;}
{p2 {list-style-type: square;border: 1px solid black;padding: 10px;background-color: rgb(119, 202, 229)}